.root {
    width: 100px;
    fill: transparent;
}

.room {
    fill: var(--bs-gray);
    opacity: .2;

    transition: fill ease-in-out 0.2s;
}

.room:hover {
    fill:   (rgb(255, 105, 105));
}

.room.selected {
    fill: (rgb(255,0,0));
}

.floor-edge {
    fill: transparent;
    stroke: transparent;
    pointer-events: none;
}

.svg, .root {
    width: 180%;
    height: 180%;
}
