@import "../../../../../variables";

.root {
  width: 100px;
  fill: transparent;
}

.room {
  fill: var(--bs-gray);
  opacity: .2;

  transition: fill ease-in-out 0.2s;
}

.room:hover {
  fill: rgba($accent-color, 0.9);
}

.room.selected {
  fill: var(--accent-color);
}

.floor-edge {
  fill: transparent;
  stroke: transparent;
  pointer-events: none;
}

.svg, .root {
  width: 180%;
  height: 180%;
}
