<div class="timetable-slot">
    @if (calendarDataEntries.length) {
        @if (calendarDataEntries.length > 1) {
            <div class="slide-prev" (click)="slidePrev()">
                <i class="bi bi-chevron-compact-left"></i>
            </div>
        }
        <swiper-container #swiperContainer
                          slides-per-view="auto"
                          space-between="10"
                          centered-slides="true">
            @for (entry of calendarDataEntries; track entry.id) {
                <swiper-slide>
                    <div class="lesson" (click)="openDetails(entry)">
                        <div class="title">{{ entry.lesson.short }}</div>
                        <div class="details" *ngIf="displayType == 0">{{ getTeachersString(entry) }} | {{ entry.room }}</div>
                        <div class="details" *ngIf="displayType == 1">{{ getClassString(entry) }} | {{ entry.room }}</div>
                        <div class="details" *ngIf="displayType == 2">{{ getTeachersString(entry) }} | {{ getClassString(entry) }}</div>
                    </div>
                </swiper-slide>
            }
        </swiper-container>
        @if (calendarDataEntries.length > 1) {
            <div class="slide-next" (click)="slideNext()">
                <i class="bi bi-chevron-compact-right"></i>
            </div>
        }
    }
</div>
