@import "../../../../../variables.scss";

.timetable-slot {
    $heightLesson: 5rem;
    position: relative;

    .slide-prev, .slide-next {
        z-index: 1000;
        position: absolute;
        top: 0;
        font-size: 2rem;
        color: $gray-200;
    }

    .slide-prev {
        left: 0;
    }

    .slide-next {
        right: 0;
    }

    swiper-container {

        swiper-slide {
            width: 5rem;

            .lesson {
                border: 1px solid $gray-500;
                border-radius: 4px;
                background: $accent-color;
                text-align: center;
                cursor: pointer;
                padding: 0.25rem 0.25rem;

                &:hover {
                    background: $accent-color-hover;
                }

                .title {
                    font-size: $font-size-sm;
                }

                .details {
                    color: $text-muted;
                    font-size: 0.75 * $font-size-sm;
                }

            }
        }
    }
}
