<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div>
            <button class="d-lg-none btn btn-outline-secondary" (click)="menuService.isAlwaysVisible = !menuService.isAlwaysVisible">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <div class="navbar-brand">
            <span class="fw-bold">Stundenplan</span>
            <span class="d-none d-sm-inline ms-1">{{ calendarFilterService.getCurrentFilterName() }}</span>
        </div>
        <div></div>
    </div>
</nav>
