@import "../../../../variables";

.timetable {

    padding-top: 1rem;

    .col-time {
        width: 5rem;
    }

    .slot {
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        app-timetable-slot {
            width: 100%;
        }
    }

}

.small-date-text {
    font-size: 0.8rem;
    color: gray;
}
