<div class="timetable">

    <div class="row g-0">

        <!-- Lesson times -->
        <div class="col-1">

            <div class="slot border-bottom border-end"></div>

            @for (lessonTime of lessonTimes; track lessonTime; let timeIndex = $index) {
                <div class="slot fw-bold border-end"
                     [ngClass]="timeIndex < lessonTimes.length - 1 ? 'border-bottom' : ''">
                    {{ lessonTime }}
                </div>
            }

        </div>

        <!-- All days that are displayed -->
        @for (day of days; track day; let dayIndex = $index) {

            <div class="col-2">

                <div class="slot fs-4 border-bottom"
                     [ngClass]="dayIndex < days.length - 1 ? 'border-end' : ''">
                    {{ dayjs().startOf("week").add(dayIndex, "days").format("dddd") }}
                </div>

                @for (lessonTime of lessonTimes; track lessonTime; let timeIndex = $index) {
                    <div class="slot"
                         [ngClass]="(timeIndex < lessonTimes.length - 1 ? 'border-bottom' : '') + (dayIndex < days.length - 1 ? ' border-end' : '')">

                        @if (getCalendarDataEntries(timeIndex, dayIndex); as calendarDataEntries) {
                            @if (calendarDataEntries.length > 0) {
                                <app-timetable-slot [calendarDataEntries]="getCalendarDataEntries(timeIndex, dayIndex)"></app-timetable-slot>
                            }
                        }

                    </div>
                }

            </div>

        }

    </div>

</div>
