<div class="window">
    <div class="day timeslot">
        <p class="day-title timeslot">&nbsp;</p>
        <div class="index indexlesson timeslot" *ngFor="let indice of lessonindices; index as i">
            {{lessontimes[i]}}
        </div>
    </div>
    <div class="day weekday{{i + 1}}" *ngFor="let day of days; index as i" >
        <p class="day-title">{{weekdays[i]}}</p>
        <div class="index indexlesson{{indice}}" *ngFor="let indice of lessonindices">
            <div class="subindex row">
                <div class="lesson col btn btn-light box-shadow" *ngFor="let lesson of getdatabylessenindex(indice, day)" (click)="broker.setSelectEntry(lesson);openEnd()">
                    <span class="span {{lesson.lesson}}" >{{lesson.lesson}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
