@import "../../../../styles";

$heightLesson: 50px;

$paddingLesson: 0.5rem;
$marginLesson: 0.2rem;
$paddingDay: 5px;

$timeTextWidth: 5rem;
$windowPadding: 15px;

$box-shadow-color: rgba(0, 0, 0, 0.20);

:root {
    top: 0;
    position: relative;
}

.window {
    display: flex;
    position: relative;
    min-width: 680px;
    height: fit-content;
    overflow-x: hidden;
}

.day-title {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 0 $windowPadding 0;
    text-align: center;
}

.day {
    width: 20%;
    padding: $paddingDay;
    border-left: 1px solid $box-shadow-color;
}

.index {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    height: $heightLesson;
    padding: 0;
}

.subindex {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    margin: 0;
}

.lesson {
    align-items: center;
    border-radius: 10px;
    padding: $paddingLesson;
    margin: $marginLesson;
    height: 100%;
}

.timeslot {
    text-align: right;
    vertical-align: top;
    width: $timeTextWidth;
    padding-right: $windowPadding;
    display: inline-block;
}

.timebar:after {
    display: block;
    content: " ";
    background: $box-shadow-color;
    width: 100vw;
    height: 1px;
    position: absolute;
    top: -$marginLesson;
    left: 0;
}

span {
    align-self: center;
}

/*.weekday2 {
    box-shadow: 7px 0 5px -6px $box-shadow-color, -7px 0 5px -6px $box-shadow-color;
}
.weekday4 {
    box-shadow: 7px 0 5px -6px $box-shadow-color, -7px 0 5px -6px $box-shadow-color;
}*/
