<div class="row gy-2 mt-0 mb-4">

    <div class="col-12 d-md-none text-center">

        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary" (click)="navigateDays(-1)">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-dark">
                {{ selectedDate.format("DD.MM.YYYY") }}
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="navigateDays(1)">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>

    </div>

    <div class="offset-2 col-8 d-none d-md-block text-center">

        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary" (click)="navigateDays(-7)">
                <i class="bi bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-dark">
                Kalenderwoche {{ selectedDate.week() }}
                ({{ selectedDate.startOf("week").format("DD.MM.") }} –
                {{ selectedDate.endOf("week").format("DD.MM.YYYY") }})
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="navigateDays(7)">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>

    </div>

    <div class="col-12 col-md-2 text-center text-md-end">
        <button type="button" class="btn btn-outline-secondary" (click)="printPage()">
            <i class="bi bi-printer"></i>
        </button>

        <button type="button" class="btn btn-outline-secondary ms-1" (click)="copyUrl()">
            <i class="bi bi-share"></i>
        </button>
    </div>

</div>

<div class="timetable">

    <div class="row g-0">

        <!-- Lesson times -->
        <div class="col-4 col-md-1">

            <div class="slot border-bottom border-end"></div>

            @for (lessonTime of lessonTimes; track lessonTime; let timeIndex = $index) {
                <div class="slot fw-bold border-end"
                     [ngClass]="timeIndex < lessonTimes.length - 1 ? 'border-bottom' : ''">
                    {{ lessonTime }}
                </div>
            }

        </div>

        <!-- All days that are displayed -->
        @for (day of days; track day; let dayIndex = $index) {

            <div class="col-8 col-md-2" [ngClass]="getDayCssClass(dayIndex)">

                <div class="slot fs-5 border-bottom"
                     [ngClass]="dayIndex < days.length - 1 ? 'border-end' : ''">
                    {{ dayjs().startOf("week").add(dayIndex, "days").format("dddd") }}
                    <p class="small-date-text">{{ dayjs(selectedDate).startOf("week").add(dayIndex, "days").format("DD.MM.YYYY") }}</p>
                </div>

                @for (lessonTime of lessonTimes; track lessonTime; let timeIndex = $index) {
                    <div class="slot"
                         [ngClass]="(timeIndex < lessonTimes.length - 1 ? 'border-bottom' : '') + (dayIndex < days.length - 1 ? ' border-end' : '')">

                        @if (getCalendarDataEntries(timeIndex, dayIndex); as calendarDataEntries) {
                            @if (calendarDataEntries.length > 0) {
                                <app-timetable-slot [calendarDataEntries]="getCalendarDataEntries(timeIndex, dayIndex)"
                                                    [displayType]="lessonDisplayType">
                                </app-timetable-slot>
                            }
                        }

                    </div>
                }

            </div>

        }

    </div>

</div>
