.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: lightblue;
    column-gap: 50px;
    row-gap: 20px;
    height: 100vh;
}
.grid-item{
    text-align: center;
    position: relative;
}

.lession{
    position: absolute;
    background-color: red;
    border-radius: 5px;
    height: 7%;
    width: 100%;

}
._1{
    top: 0%;
}
._2{
    top: 8%;
}
._3{
    top: 16%;
}
._4{
    top: 24%;
}
._5{
    top: 32%;
}
._6{
    top: 40%;
}
._7{
    top: 48%;
}
._8{
    top: 56%;
}
._9{
    top: 64%;
}
._10{
    top: 72%;
}
._11{
    top: 80%;
}
._12{
    top: 88%;
}
