@if (data) {

    @if (data.nestedData?.length) {

        <div (click)="showNestedData = !showNestedData" class="item-with-children"
            [ngStyle]="{'background-color': calculateColor()}">
            <div class="text-truncate" [ngbTooltip]="data.label">{{ data.label }}</div>
            @if (showNestedData) {
                <i class="bi bi-chevron-up"></i>
            } @else {
                <i class="bi bi-chevron-down"></i>
            }
        </div>

    } @else {

        <div (click)="data.action && data.action()"
             class="item-without-children text-truncate"
             [ngbTooltip]="data.label"
             [ngClass]="(first ? 'first' : '') + ' ' + (last ? 'last' : '')"
             [style.background-color]="'var(--accent-color)'"
             [style.border-color]="'#707070'">
            {{ data.label }}
        </div>

    }

    @if (showNestedData && data.nestedData) {
        @for (d of data.nestedData; track d; let i = $index) {
            <div [ngClass]="'nested-items'">
                <app-accordion [data]="d"
                               [first]="i === 0"
                               [last]="i === data.nestedData.length - 1"
                               [recursionLevel]="recursionLevel + 1"></app-accordion>
            </div>
        }
    }

}

