.noscroll {
    overflow-x: hidden;
}

.floorplan {
    width: 4px;
    position: relative;
    left: -40%;
}

.keyvalueset {
    margin-bottom: 0.5rem;
}

.key {
    font-size: 0.8rem;
    color: gray;
    display: inline;
    margin-right: 0.2rem;
}

.value {
    display: inline;
    margin-bottom: 0.5rem;
    white-space: break-spaces;
}