<p>details works!</p>
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title">Chemie</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">
        <p> Zimmer: {{entry?.room}}<br>
            Zeit: {{time}}<br>
            Lehrpersonen: {{teachers}}<br>
            Klassen: {{classes}}<br>

        </p>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openEnd(content)">C 708</button>
