<div class="offcanvas-header" xmlns="http://www.w3.org/1999/html">
    <h4 class="offcanvas-title">
        {{ entry?.lesson?.full }}
        {{ entry?.lesson?.full !== entry?.lesson?.short ? "(" + entry?.lesson?.short + ")" : "" }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="offcanvasService.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">

    <div>
        <span class="text-muted small me-2">Zimmer:</span><span>{{ entry?.room }}</span>
    </div>
    <div>
        <span class="text-muted small me-2">Zeit:</span><span>{{ time }}</span>
    </div>
    <div>
        <span class="text-muted small me-2">Datum:</span><span>{{ date }}</span>
    </div>
    <div>
        <span class="text-muted small me-2">Lehrpersonen:</span><span>{{ teachers }}</span>
    </div>
    <div>
        <span class="text-muted small me-2">Klassen:</span><span>{{ classes }}</span>
    </div>

    <div class="overflow-x-hidden">
        <app-floorplan [selectedRoom]="room" class="floorplan" *ngIf="displayFloorplan"></app-floorplan>
    </div>

</div>
