/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "variables";

* {
    scrollbar-width: thin;
}

body {
    position: relative;
    height: 100vh;
    --accent-color: #{$accent-color};
    --accent-color-hover: #{$accent-color-hover};
}

.fullheight {
    height: 100%;
}

.box-shadow {
    display: block;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.27);
}

.no-margin {
    margin: 0;
    padding: 0;
}
