<div class="p-3">

    <div class="mb-3">
        <input
            id="typeahead-format"
            type="text"
            class="form-control"
            placeholder="Suche..."
            [(ngModel)]="model"
            [ngbTypeahead]="search"
            [resultFormatter]="formatter"
            [inputFormatter]="formatter"
        />
    </div>

    <app-accordion [data]="classData"></app-accordion>

    <app-accordion [data]="teacherData"></app-accordion>

    <app-accordion [data]="roomData"></app-accordion>

</div>
