<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo offcanvas</button>
<div ngbAccordion>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Klassen</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <div ngbAccordion>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Maturität</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>1. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>2. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>3. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>4. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngbAccordion>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Fachmaturität</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>1. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>2. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngbAccordion>
                                    <div ngbAccordionItem>
                                        <h2 ngbAccordionHeader>
                                            <button ngbAccordionButton>3. Klassen</button>
                                        </h2>
                                        <div ngbAccordionCollapse>
                                            <div ngbAccordionBody>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ngbAccordion>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Andere</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ngbAccordion>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Lehrpersonen</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>

            </div>
        </div>
    </div>
</div>
<div ngbAccordion>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Räume</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>

            </div>
        </div>
    </div>
</div>
